.uacf7-material-design-dark{
  background-color: #141316;
  padding: 20px 10px;
}

.uacf7-material-design-dark  p,  .uacf7-material-design-dark   .uacf7-row .uacf7-col-6 > p {
    font-size     : 16px;
    position       : relative;
    padding-bottom: 24px;
    z-index       : 1;
    
  
  }



.uacf7-material-design-dark  input[type="text"].wpcf7-not-valid, .uacf7-material-design-dark input[type="email"].wpcf7-not-valid, .uacf7-material-design-dark input[type="url"].wpcf7-not-valid, input[type="number"].wpcf7-not-valid, .uacf7-material-design-dark input[type="tel"].wpcf7-not-valid,.uacf7-material-design-dark input[type="date"].wpcf7-not-valid, .uacf7-material-design-dark input[type="file"].wpcf7-not-valid, .uacf7-material-design-dark input[type="select"].wpcf7-not-valid {
  border-bottom: 2px solid #f7aea5 !important;
  color: #f7aea5;
}


.uacf7-material-design-dark  option {
    font-size: 16px!important;
    color: #CAC4CF;
  }



  .uacf7-material-design-dark  p .wpcf7-not-valid-tip ,  .uacf7-material-design-dark  .uacf7-row .uacf7-col-6  > p .wpcf7-not-valid-tip{
    color: #f7aea5;
  }




  .uacf7-material-design-dark   .wpcf7-file,  .uacf7-material-design-dark  .wpcf7-select,  .uacf7-material-design-dark .wpcf7-date {
    height          : 50px;
    padding         : 10px;
    border          : none;
    border-bottom   : 1px solid #CAC4CF;
    color           : #CAC4CF;
    width           : 100%;
    background-color: #363438;
    font-size       : 16px;
    font-family     : Roboto;
    line-height     : 24px;
    border-radius   : 4px 4px 0px 0px;
    box-sizing      : border-box;
  }

  .uacf7-material-design-dark .wpcf7-select:hover{
    border-bottom   : 2px solid #CAC4CF;
  }


  .uacf7-material-design-dark  .wpcf7-select, .uacf7-material-design-dark input[type="text"],.uacf7-material-design-dark input[type="email"],.uacf7-material-design-dark  input[type="url"], .uacf7-material-design-dark input[type="number"],.uacf7-material-design-dark  input[type="tel"],.uacf7-material-design-dark input[type="number"],.uacf7-material-design-dark input[type="file"],.uacf7-material-design-dark  input[type="textarea"], .uacf7-material-design-dark input[type="checkbox"]{
    cursor          : pointer;
    padding         : 15px 10px;
    border          : none;
    height          : 50px;
    border-bottom   : 1px solid #cac4cf;
    color           : #cac4cf;
    width           : 100%;
    background-color: #363438;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px 4px 0px 0px;
    box-sizing      : border-box;
  }



  .uacf7-material-design-dark .wpcf7-acceptance .wpcf7-list-item{
    display    : flex;
    color: #CAC4CF;;
  }

  .uacf7-material-design-dark .wpcf7-acceptance .wpcf7-list-item label {
    display       : inline-flex;
    align-items   : center;
    height        : 40px;
    column-gap    : 16px;
    color         : #CAC4CF;;
    letter-spacing: .15px;


  }


  
  .uacf7-material-design-dark  p label,  .uacf7-material-design-dark .uacf7-row .uacf7-col-6 > p label {
    position        : absolute;
    padding         : 15px 0px;
    box-sizing      : border-box;
    top             : 35%;
    transform       : translateY(-50%);
    pointer-events  : none;
    font-weight     : 400;
    font-family     : Roboto;
    transition      : top 0.2s;
    color           : #cac4cf;
    left            : 10px;
    border-radius   : 4px;
    z-index         : 1;
    background-color: transparent;
    letter-spacing  : 0.5px;
  }


  
  .uacf7-material-design-dark  label.has-value,  .uacf7-material-design-dark .uacf7-row .uacf7-col-6 label.has-value  {
    top             : 10%;
    font-size       : 12px!important;
    left            : 10px;
    font-size       : 16px;
    min-height      : 15px;
    line-height     : 15px;
    background-color: transparent;
    max-width       : fit-content;
    z-index         : 99;
    

  }

  .uacf7-material-design-dark  label.required-tip,  .uacf7-material-design-dark  .uacf7-row .uacf7-col-6 label.required-tip  {
    top             : 0%;
    margin-top      : -1.5px;
    left            : 10px;
    font-size       : 16px;
    min-height      : 15px;
    line-height     : 15px;
    max-width       : fit-content;
    color           : #f7aea5;
    z-index         : 99;
    

  }

  .uacf7-material-design-dark  input.required-tip,  .uacf7-material-design-dark .uacf7-row .uacf7-col-6 input.required-tip  {


    border-bottom   : 2px solid #f7aea5;
    

  }


  .uacf7-material-design-dark  span > input.hover,  .uacf7-material-design-dark  .uacf7-row .uacf7-col-6 span > input.hover {
    border-bottom   : 2px solid #cac4cf;
    color           : #cac4cf;
 
  }

  .uacf7-material-design-dark   input.input-focus,  .uacf7-material-design-dark  .uacf7-row .uacf7-col-6 input.input-focus {
    border-bottom   : 2px solid #cac4cf;
    color           : #cac4cf;
  }



  .uacf7-material-design-dark  .wpcf7-submit {
    width           : 148px;
    height          : 40px;
    margin-top      : 32px;
    border-radius   : 50px;
    border-width    : 0px!important;
    letter-spacing  : 2px;
    font-size       : 14px;
    text-transform  : uppercase!important;
    background-color: #6747c1;
    color           : #ffffff;
    padding         : 10px, 24px, 10px, 24px;
    transition      : all 300ms ease 0ms;

 
  }

  .uacf7-material-design-dark  .wpcf7-submit:hover{
    cursor: pointer;
  }
  

  
  .uacf7-material-design-dark  .wpcf7-not-valid-tip {
      position: absolute;
      top     : 60px;
      left    : 10px;
      color   : #ba1a1a;
  
  }


  .uacf7-material-design-dark  .wpcf7-exclusive-checkbox  .wpcf7-list-item label {
    display    : inline-flex;
    align-items: center;
    height     : 56px;
    font-size  : 16px;
    column-gap : 16px;
    color      : #CAC4CF;
  }


  .uacf7-material-design-dark  input[type="checkbox" i], .uacf7-material-design-dark input[type="radio" i]{
    width : 16px;
    height: 16px;
  }

  .uacf7-material-design-dark   input[type="checkbox"]{
    font-size: 16px;
  }

  .uacf7-material-design-dark  input[type="checkbox"] .wpcf7-list-item-label{
    font-size: 16px;
    color      : #CAC4CF;
  }


 
  .uacf7-material-design-dark  .wpcf7-radio .wpcf7-list-item label {
    display    : inline-flex;
    align-items: center;
    height     : 56px;
    column-gap : 16px;
    color      : #CAC4CF;
}


.uacf7-material-design-dark  .wpcf7-checkbox .wpcf7-list-item{
  display: inline-flex; 
  align-items: center;
  height: 56px;
  column-gap: 16px;
}


.uacf7-material-design-dark  .wpcf7-checkbox .wpcf7-radio .wpcf7-list-item{
  display: flex;
  font-size: 16px;
}

  
  /* Date Field Styles */
  
  .uacf7-material-design-dark  input[type=date]::-webkit-datetime-edit-month-field{
    left: 20px;
    
  }


