.uacf7-material-design-filled p, .uacf7-material-design-filled .uacf7-row .uacf7-col-6 > p {
  font-size     : 16px;
  position      : relative;
  padding-bottom: 24px;
  z-index       : 1;
  font-family: 'Roboto', sans-serif;
}




.uacf7-material-design-filled input[type="text"].wpcf7-not-valid, input[type="email"].wpcf7-not-valid, input[type="url"].wpcf7-not-valid, input[type="number"].wpcf7-not-valid, input[type="tel"].wpcf7-not-valid, input[type="date"].wpcf7-not-valid, input[type="file"].wpcf7-not-valid {
  border-bottom: 2px solid #BA1A1A !important;
}


  .uacf7-material-design-filled  ,  .uacf7-material-design-filled   option {
    font-size: 16px!important;
  }



  .uacf7-material-design-filled  .wpcf7-date,   .uacf7-material-design-filled  .wpcf7-select, .uacf7-material-design-filled .wpcf7-file{
    height          : 50px;
    padding         : 15px 16px;
    border          : none;
    color           : #48454E;
    width           : 100%;
    background-color: #e6e1e6;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
    left            : 16px;
  }

  .uacf7-material-design-filled   .wpcf7-select, .uacf7-material-design-filled input[type="text"], .uacf7-material-design-filled  input[type="date"],.uacf7-material-design-filled  input[type="email"], .uacf7-material-design-filled  input[type="url"], .uacf7-material-design-filled  input[type="number"], .uacf7-material-design-filled  input[type="tel"],.uacf7-material-design-filled  input[type="number"],.uacf7-material-design-filled  input[type="file"], .uacf7-material-design-filled  input[type="checkbox"]{
    cursor          : pointer;
    padding         : 0px 16px;
    border          : none;
    height          : 50px;
    border-bottom   : 1px solid #48454E;
    color           : #1c1b1e;
    width           : 100%;
    background-color: #e6e1e6;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px 4px 0px 0px;
    box-sizing      : border-box;
    padding-top     : 8px;
  }



  /* .uacf7-material-design-filled  input[type="file"]::before {
    content: '';
    display: inline-block;
    padding: 0px 20px;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    cursor: pointer;
    z-index: 0;
  } */


  .uacf7-material-design-filled p label ,  .uacf7-material-design-filled .uacf7-row .uacf7-col-6 > p label {
    position        : absolute;
    padding         : 15px 16px;
    box-sizing      : border-box;
    top             : 35%;
    transform       : translateY(-50%);
    pointer-events  : none;
    font-weight     : 400;
    transition      : top 0.2s;
    color           : #48454E;
    left            : 16px;
    border-radius   : 4px;
    z-index         : 1;
    background-color: transparent;
    letter-spacing  : 0.5px;
  }

  .uacf7-material-design-filled label.has-value,  .uacf7-material-design-filled .uacf7-row .uacf7-col-6 label.has-value  {
    top             : 4px;
    margin-top      : 8px;
    font-size       : 12px!important;
    left            : 16px;
    min-height      : 15px;
    line-height     : 15px;
    background-color: transparent;
    max-width       : fit-content;



  }


  .uacf7-material-design-dark  label.hover-label,  .uacf7-material-design-dark  .uacf7-row .uacf7-col-6 label.hover-label {
    font-size       : 16px;
    left            : 16px;
    min-height      : 15px;
    line-height     : 15px;
    background-color: transparent;
    max-width       : fit-content;

  }



  .uacf7-material-design-filled label.label-focus,  .uacf7-material-design-filled .uacf7-row .uacf7-col-6 label.label-focus  {
    color: #6747c1; 
    margin-top: 8px;

  }

  .uacf7-material-design-filled    label.required-tip,  .uacf7-material-design-filled   .uacf7-row .uacf7-col-6 label.required-tip  {
    top             : 0%;
    margin-top      : -1.5px;
    left            : 10px;
    font-size       : 16px;
    min-height      : 15px;
    line-height     : 15px;
    background-color: #ffffff;
    max-width       : fit-content;
    color           : #BA1A1A;
    z-index         : 99;
    

  }

  .uacf7-material-design-filled input.required-tip,  .uacf7-material-design-filled   .uacf7-row .uacf7-col-6 input.required-tip  {


    border-bottom   : 1px solid #BA1A1A;
    

  }


  .uacf7-material-design-filled span > input.hover,  .uacf7-material-design-filled   .uacf7-row .uacf7-col-6 span > input.hover {
    border-bottom   : 1px solid #1c1b1e;
    color           : #1c1b1e;
    background-color: #d6d1d6;
  }


  .uacf7-material-design-filled    input.input-focus,  .uacf7-material-design-filled   .uacf7-row .uacf7-col-6 input.input-focus {
    border-bottom   : 2px solid #6747c1!important;
    color           : #1c1b1e;
    background-color: #e6e1e6;
    padding-bottom: 0;

  }



    /*For  Date, File, Select, and Textarea Field*/
    .uacf7-material-design-filled  .wpcf7-select.hover-dfst,  .uacf7-material-design-filled  .wpcf7-file.hover-dfst,  .uacf7-material-design-filled  .wpcf7-date.hover-dfst,  .uacf7-material-design-filled  .wpcf7-select.wpcf7-textarea.hover-dfst{
   
    border-bottom   : 1px solid  #1c1b1e;
    color           : #1c1b1e;
    background-color: #d6d1d6;
    }
  
    .uacf7-material-design-filled  .wpcf7-select.focus-dfst,  .uacf7-material-design-filled  .wpcf7-file.focus-dfst,  .uacf7-material-design-filled  .wpcf7-date.focus-dfst,  .uacf7-material-design-filled  .wpcf7-select.wpcf7-textarea.focus-dfst{
      border-bottom: 2px solid #6747c1!important;
    }




    /*To add style the label of Date, File, Select, and Textarea input*/
  .uacf7-material-design-filled  label.dfst,  .uacf7-material-design-filled  .uacf7-row .uacf7-col-6 label.dfst  {
    top             : 4px;
    margin-top      : 8px;
    font-size       : 12px!important;
    left            : 16px;
    min-height      : 15px;
    line-height     : 24px;
    background-color: transparent;
    max-width       : fit-content;
    z-index         : 99;   

  }



  
  .uacf7-material-design-filled textarea{
    cursor          : pointer;
    padding         : 15px 16px;
    height          : 100px;
    border: none;
    border-bottom   : 1px solid #48454E;
    color           : #1c1b1e;
    width           : 100%;
    background-color: #e6e1e6;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
  }

  .uacf7-material-design-filled textarea:hover{
    cursor          : pointer;
    height          : 100px;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
    border-bottom   : 1px solid #1c1b1e;
    color           : #1c1b1e;
    background-color: #d6d1d6;
  }

  .uacf7-material-design-filled textarea:focus{
    cursor          : pointer;
    padding         : 15px 16px;
    height          : 100px;
    border-bottom   : 2px solid #6747c1;
    color           : #1C1B1E;
    width           : 100%;
    width           : 100%;
    background-color: #e6e1e6;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
  }


  .uacf7-material-design-filled  label.focus-dfst-label,  .uacf7-material-design-filled  .uacf7-row .uacf7-col-6 label.focus-dfst-label  {
  
    color           : #6747c1!important; 

  }

  .uacf7-material-design-filled  label.hover-dfst-label,  .uacf7-material-design-filled  .uacf7-row .uacf7-col-6 label.hover-dfst-label  {
    top             : 4px;
    margin-top      : 8px;
    font-size       : 12px!important;
    left            : 16px;
    min-height      : 15px;
    line-height     : 24px;
    background-color: transparent;
    max-width       : fit-content;

  }



  .uacf7-material-design-filled  input[type=file]::file-selector-button {
    margin-top: 10px;
    border-radius: .2em;
    transition: 1s;
  }




  /*Radio Button Styles*/


  
  .uacf7-material-design-filled .wpcf7-submit {
    width           : 148px;
    height          : 40px;
    margin-top      : 32px;
    border-radius   : 50px;
    border-width    : 0px!important;
    letter-spacing  : 2px;
    font-size       : 14px;
    text-transform  : uppercase!important;
    background-color: #6747c1;
    color           : #ffffff;
    padding         : 10px, 24px, 10px, 24px;
    transition      : all 300ms ease 0ms;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 20px;


 
  }

  .uacf7-material-design-filled   .wpcf7-submit:hover{
    cursor: pointer;
  }
  

  
  .uacf7-material-design-filled   .wpcf7-not-valid-tip {
    position   : absolute;
    top        : 48px;
    left       : 16px;
    color      : #BA1A1A;
    font-size  : 12px;
    padding-top: 4px;
  
  }


  .uacf7-material-design-filled > .wpcf7-exclusive-checkbox  > .wpcf7-list-item {
    display    : inline-flex;
    align-items: center;
    height     : 56px;
    font-size  : 16px;
    column-gap : 16px;
  }


  .uacf7-material-design-filled   input[type="checkbox" i], input[type="radio" i]{
    width : 16px;
    height: 16px;
  }


  .uacf7-material-design-filled   .wpcf7-acceptance .wpcf7-list-item {
    display       : inline-flex;
    align-items   : center;
    height        : 40px;
    column-gap    : 16px;
    color         : #48454E;
    letter-spacing: .15px;


  }

 


 
  .uacf7-material-design-filled   .wpcf7-radio .wpcf7-list-item {
    display    : inline-flex;
    align-items: center;
    height     : 56px;
    column-gap : 16px;
    color      : #48454E;
}


.uacf7-material-design-filled > .wpcf7-checkbox > .wpcf7-list-item, .uacf7-material-design-filled  > .wpcf7-radio  > .wpcf7-list-item{
  display: inline-flex; 
  align-items: center;
  height: 56px;
  column-gap: 16px;
}



  
  /* Date Field Styles */
  
  .uacf7-material-design-filled   input[type=date]::-webkit-datetime-edit-month-field{
    left: 20px;
    
  }


  .uacf7-material-design-filled .wpcf7-date::-webkit-calendar-picker-indicator { 
  
    background-image: url('./icons/calendar-icon-for-filled.png');
    width           : 20px;
    height          : 20px;
  }


