  .uacf7-material-design-outlined   p,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 > p {
    font-size     : 16px;
    position      : relative;
    padding-bottom: 24px;
    z-index       : 1;
    font-family   : 'Roboto', sans-serif;
  
  }

  .uacf7-material-design-outlined   .uacf7-material-acceptance .wpcf7-form-control-wrap,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 > .uacf7-material-acceptance .wpcf7-form-control-wrap{
    padding: 10px 0px;
  }
  .uacf7-material-design-outlined   .uacf7-material-checkbox .wpcf7-form-control-wrap,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 > .uacf7-material-checkbox .wpcf7-form-control-wrap{
    padding: 10px 0px;
  }
  .uacf7-material-design-outlined   .uacf7-material-radio .wpcf7-form-control-wrap,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 > .uacf7-material-radio .wpcf7-form-control-wrap{
    padding: 10px 0px;
  } 



  .uacf7-material-design-outlined input[type="text"].wpcf7-not-valid, .uacf7-material-design-outlined input[type="email"].wpcf7-not-valid, .uacf7-material-design-outlined input[type="url"].wpcf7-not-valid, .uacf7-material-design-outlined input[type="number"].wpcf7-not-valid, .uacf7-material-design-outlined input[type="tel"].wpcf7-not-valid, .uacf7-material-design-outlined input[type="date"].wpcf7-not-valid, .uacf7-material-design-outlined input[type="file"].wpcf7-not-valid {
    border: 2px solid #BA1A1A;
  }


  .uacf7-material-design-outlined [class^='uacf7-form-'],  .uacf7-material-design-outlined  option {
    font-size: 16px;
  }

 /*To add style the label of d = Date, f = File, s = Select, and t = Textarea input*/
  .uacf7-material-design-outlined  .wpcf7-select.hover-dfst,  .uacf7-material-design-outlined  .wpcf7-file.hover-dfst,  .uacf7-material-design-outlined  .wpcf7-date.hover-dfst,  .uacf7-material-design-outlined  .wpcf7-select.wpcf7-textarea.hover-dfst{
    border: 1px solid #1C1B1E;
    color : #1C1B1E;
  }

  .uacf7-material-design-outlined  .wpcf7-select.focus-dfst,  .uacf7-material-design-outlined  .wpcf7-file.focus-dfst,  .uacf7-material-design-outlined  .wpcf7-date.focus-dfst,  .uacf7-material-design-outlined  .wpcf7-select.wpcf7-textarea.focus-dfst{
    border          : 2px solid #6747c1!important;
  }

  .uacf7-material-design-outlined  input[type="date"],   .uacf7-material-design-outlined  input[type="file"],   .uacf7-material-design-outlined  .wpcf7-select{
    height          : 50px;
    padding         : 10px;
    border          : 1px solid #CAC4CF;
    color           : #48454E;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
  }



   .uacf7-material-design-outlined input[type="text"],  .uacf7-material-design-outlined input[type="email"],   .uacf7-material-design-outlined input[type="url"],   .uacf7-material-design-outlined input[type="number"],   .uacf7-material-design-outlined input[type="tel"],  .uacf7-material-design-outlined input[type="number"], .uacf7-material-design-outlined  input[type="checkbox"]{
    cursor          : pointer;
    padding         : 0px 16px;
    height          : 50px;
    border          : 1px solid #CAC4CF;
    color           : #48454E;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
    left            : 16px;
  }


  .uacf7-material-design-outlined  .wpcf7-select.input-focus,   .uacf7-material-design-outlined input[type="text"].input-focus,  .uacf7-material-design-outlined input[type="email"].input-focus,   .uacf7-material-design-outlined input[type="url"].input-focus,   .uacf7-material-design-outlined input[type="number"].input-focus,   .uacf7-material-design-outlined input[type="tel"].input-focus,  .uacf7-material-design-outlined input[type="number"].input-focus,  .uacf7-material-design-outlined input[type="file"].input-focus, .uacf7-material-design-outlined  input[type="checkbox"].input-focus{
    border          : 2px solid #6747c1!important;
    line-height     : 24px;
    padding         : 0px 16px;
    box-sizing: border-box;
    /* left            : 16px; */
  }


  .uacf7-material-design-outlined textarea{
    cursor          : pointer;
    padding         : 15px 16px;
    height          : 100px;
    border          : 1px solid #CAC4CF;
    color           : #48454E;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
  }

  .uacf7-material-design-outlined textarea:hover{
    cursor          : pointer;
    padding         : 15px 16px;
    height          : 100px;
    border          : 1px solid #1C1B1E;
    color           : #1C1B1E;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
  }

  .uacf7-material-design-outlined textarea:focus{
    cursor          : pointer;
    padding         : 15px 16px;
    height          : 100px;
    border          : 1px solid #6747c1;
    color           : #1C1B1E;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
  }


  
  .uacf7-material-design-outlined p label,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 > p label {
    position        : absolute;
    padding         : 15px 0px;
    box-sizing      : border-box;
    top             : 35%;
    transform       : translateY(-50%);
    pointer-events  : none;
    font-weight     : 400;
    transition      : top 0.2s;
    color           : #48454E;
    left            : 16px;
    border-radius   : 4px;
    z-index         : 1;
    background-color: transparent;
    letter-spacing  : 0.5px;
  }

  
  .uacf7-material-design-outlined  label.has-value,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 label.has-value  {
    top             : 0%;
    left            : 16px;
    font-size       : 12px!important;
    min-height      : 15px;
    line-height     : 15px;
    background-color: #ffffff;
    max-width       : fit-content;
    color           : #6747c1;
    padding         : 0px 4px;

  }

/*To add style the label of Date, File, Select, and Textarea input*/
  .uacf7-material-design-outlined  label.dfst,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 label.dfst  {
    top             : 0%;
    left            : 16px;
    font-size       : 12px;
    min-height      : 15px;
    line-height     : 15px;
    background-color: #ffffff;
    max-width       : fit-content;
    color           : #48454E;
    padding         : 0px 4px;
    z-index         : 99;
    
  }


  .uacf7-material-design-outlined  label.focus-dfst-label,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 label.focus-dfst-label  {
  
    color           : #6747c1; 
   

  }

  .uacf7-material-design-outlined  label.hover-dfst-label,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 label.hover-dfst-label  {
    top             : 0%;
    left            : 16px;
    font-size       : 12px;
    min-height      : 15px;
    line-height     : 15px;
    background-color: #ffffff;
    max-width       : fit-content;
    color           : #1C1B1E;
    padding         : 0px 4px;
    z-index         : 99;
    

  }

 
  .uacf7-material-design-outlined  label.hover-label,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 label.hover-label  {
    font-size   : 16px;
    min-height  : 15px;
    max-width   : fit-content;
    color       : #1C1B1E;
    /* padding-left: 4px;
    padding-right: 4px; */
    

  }

  .uacf7-material-design-outlined   label.required-tip,  .uacf7-material-design-outlined  .uacf7-row .uacf7-col-6 label.required-tip  {
    top             : 0%;
    left            : 16px;
    min-height      : 15px;
    line-height     : 15px;
    background-color: #ffffff;
    max-width       : fit-content;
    color           : #BA1A1A;
    z-index         : 99; 

  }


  .uacf7-material-design-outlined input.input-tip,  .uacf7-material-design-outlined .uacf7-row .uacf7-col-6 input.input-tip{
    border: 2px solid #BA1A1A;
  }


  .uacf7-material-design-outlined   span > input.hover,  .uacf7-material-design-outlined .uacf7-row .uacf7-col-6 span > input.hover {
    outline   : none;
    border    : 1px solid #1C1B1E;
    box-sizing: border-box;
  }


  .uacf7-material-design-outlined   span > input.hover-when-inputted,  .uacf7-material-design-outlined .uacf7-row .uacf7-col-6 span > input.hover-when-inputted {
    outline: none;
    border : 1px solid #1C1B1E;
}

  .uacf7-material-design-outlined .wpcf7-submit {
    width           : 148px;
    height          : 40px;
    margin-top      : 32px;
    border-radius   : 50px;
    border-width    : 0px;
    letter-spacing  : 2px;
    font-size       : 14px;
    text-transform  : uppercase;
    background-color: #6747c1;
    color           : #ffffff;
    padding         : 10px, 24px, 10px, 24px;
    transition      : all 300ms ease 0ms;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 20px;

 
  }

  .uacf7-material-design-outlined  .wpcf7-submit:hover{
    cursor          : pointer;
    background-color: #6747c1!important;
    color           : #ffffff;
  }
  
  
  .uacf7-material-design-outlined  .wpcf7-not-valid-tip {
      position   : absolute;
      top        : 48px;
      left       : 16px;
      color      : #ba1a1a;
      font-size  : 12px;
      padding-top: 4px;
  
  }




/*For Acceptance, Checkbox and Radio Buttons*/
.uacf7-material-design-outlined   input[type="checkbox"],  .uacf7-material-design-outlined input[type="radio"]{
    width     : 20px;
    height    : 20px;
    box-sizing: border-box;
    position  : relative;
}

.uacf7-material-design-outlined .wpcf7-checkbox .wpcf7-list-item {
  display    : inline-flex;
  align-items: center;
}

.uacf7-material-design-outlined .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"] {
  margin-right: 16px; 
}

.uacf7-material-design-outlined .wpcf7-acceptance .wpcf7-list-item label {
  display    : flex;
  align-items: center;
}

.uacf7-material-design-outlined .wpcf7-acceptance .wpcf7-list-item input[type="checkbox"] {
  margin-right: 16px;
}


.uacf7-material-design-outlined .wpcf7-radio .wpcf7-list-item label {
  display    : flex;
  align-items: center;
}

.uacf7-material-design-outlined .wpcf7-radio .wpcf7-list-item input[type="radio"] {
  margin-right: 16px; 
}


.uacf7-material-design-outlined input[type="checkbox"]:checked::before {
 position           : absolute;
 background-color   : #6747c1;
 background-image   : url('../icons/check_small.svg');
 background-position: center;
 border-radius      : 3px;
 color              : #ffffff;
 content            : "";
 top                : 0;
 bottom             : 0;
 left               : 0;
 width              : 100%;
 height             : 100%;
 display            : inline-flex;
 align-items        : center;
 padding-left       : 2px;
 box-sizing         : border-box;

}


.uacf7-material-design-outlined input[type="checkbox"]:hover::before {
  position           : absolute;
  background-position: center;
  border-radius      : 3px;
  content            : "";
  top                : 0;
  bottom             : 0;
  left               : 0;
  width              : 100%;
  height             : 100%;
  display            : inline-flex;
  align-items        : center;
  padding-left       : 2px;
  background-size    : cover;
  box-shadow         : 0 0 0 5px #CAC4CF;
  box-sizing         : border-box;
 
 }

.uacf7-material-design-outlined input[type="radio"]:checked::before {
  position           : absolute;
  background-image   : url('../icons/radio-icon.svg');
  background-position: center;
  border-radius      : 3px;
  color              : #ffffff;
  content            : "";
  top                : 0;
  bottom             : 0;
  left               : 0;
  width              : 100%;
  height             : 100%;
  display            : inline-flex;
  align-items        : center;
  padding-left       : 2px;
  background-size    : cover;
  background-color   : #ffffff;
  border-radius      : 50%;
  box-sizing         : border-box;
 
 }



  
  /* Date Field Styles */
  
  .uacf7-material-design-outlined .wpcf7-date::-webkit-calendar-picker-indicator { 
  
    background-image: url('../icons/calendar-icon-for-filled.png');
    padding         : 10px;
    border-radius   : 50%;
    
  }
  
  .uacf7-material-design-outlined .wpcf7-date::-webkit-calendar-picker-indicator:hover{
    background-color: #e7e2e7;
    cursor          : pointer;

  }


  .uacf7-material-design-outlined input[type="radio"]:hover::before {
    position           : absolute;
    background-position: center;
    content            : "";
    top                : 0;
    bottom             : 0;
    left               : 0;
    width              : 100%;
    height             : 100%;
    display            : inline-flex;
    align-items        : center;
    padding-left       : 2px;
    background-size    : cover;
    border-radius      : 100px;
    box-shadow         : 0 0 0 5px #CAC4CF;
    box-sizing         : border-box;
   
   }