[class^='uacf7-form-']  > p {
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
    border-radius: 4px, 4px, 0px, 0px;
  
  }
  
  [class^='uacf7-form-']  > p label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: 400;
    transition: top 0.2s;
    color: #000000;
    left: 10px;
    border-radius: 4px;
  }
  
  [class^='uacf7-form-']  input.wpcf7-text , input[type="date" i], .wpcf7-select {
    border: 1px solid #7b7b7b;
    padding: 15px 0px;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
  }
  [class^='uacf7-form-']  label.has-value {
    top: 0px;
    left: 10px;
    z-index: 99;
    font-size: 16px;
    background-color: #ffff;
    height: 28px;
  
  }

  /* [class^='uacf7-form-']  input[type="submit"]{
    width: 100px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

  } */
  
  .wpcf7-submit {
    width: 148px;
    height: 40px;
    border-radius: 50px;
    border-width: 0px!important;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase!important;
    background-color: #6747c1;
      padding: 15px 20px;
      transition: all 300ms ease 0ms;

      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
  }
  
  .wpcf7-submit:hover {
      cursor: pointer;
      color: #FDF8D6!important;
    background-image: initial;
    background-color: #88DDCC;
      box-shadow: 2px 6px 18px 0px #c47766;
  }
  
  .wpcf7-not-valid-tip {
      position: absolute;
      top: 35px;
  
  }
  
  
  /*Checkbox Styles*/
  [class^='uacf7-form-'] .TFCheckbox{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .15px;
    line-height: 24px;
  }


  [class^='uacf7-form-'] .wpcf7-list-item {
    display: flex;
    align-items: center;
    width: 360px;
    height: 56px;
    padding: 8px, 24px, 8px, 16px;
    column-gap: 16px;
  }


  [class^='uacf7-form-'] input[type="checkbox" i]{
    width: 24px;
    height: 24px;
  }

  [class^='uacf7-form-'] input[type="checkbox"]{
    background-color: #6747c1!important;
  }


  [class^='uacf7-form-'] .wpcf7-list-item-label{
    width: 280px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
 
  }
  
  
  
  
  
  
  
  
  
  /* Date Field Styles */
  
  /* [class^='uacf7-form-'] input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
  }
  [class^='uacf7-form-'] input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
  }
  [class^='uacf7-form-'] input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
  }
  [class^='uacf7-form-'] input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
  } */
  
  
  /* [class^='uacf7-form-'] input[type="date"]::-webkit-inner-spin-button,
  [class^='uacf7-form-'] input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #000; 
    color: #fff; 
  
  } */