[class^='uacf7-form-']  > p {
    font-size     : 16px;
    position      : relative;
    padding-bottom: 20px;
    border-radius : 4px, 4px, 0px, 0px;
  
  }

  [class^='uacf7-form-'] input[type="date"], .wpcf7-select{
    padding         : 15px 10px;
    border          : 1px solid #7b7b7b;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
    box-sizing      : border-box;
  }


  [class^='uacf7-form-'] input[type="text"],input[type="email"], input[type="tel"],input[type="number"],input[type="file"], input[type="textarea"], input[type="select"], input[type="date"], input[type="checkbox"]{
    cursor: pointer;
  }
  
  [class^='uacf7-form-']  > p label {
    position      : absolute;
    top           : 40%;
    transform     : translateY(-50%);
    pointer-events: none;
    font-weight   : 400;
    transition    : top 0.2s;
    color         : #000000;
    left          : 10px;
    border-radius : 4px;
  }
  
  [class^='uacf7-form-']  input.wpcf7-text {
    border          : 1px solid #7b7b7b;
    padding         : 15px 0px;
    width           : 100%;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 24px;
    border-radius   : 4px;
  }
  [class^='uacf7-form-']  label.has-value {
    top             : 0px;
    left            : 10px;
    z-index         : 99;
    font-size       : 16px;
    background-color: #ffffff;
    height          : 28px;
  }

  
  [class^='uacf7-form-'] .wpcf7-submit {
    width: 148px;
    height: 40px;
    border-radius: 50px;
    border-width: 0px!important;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase!important;
    background-color: #6747c1;
    color: #ffffff;
    padding: 10px, 24px, 10px, 24px;
    transition: all 300ms ease 0ms;

 
  }

  [class^='uacf7-form-'] .wpcf7-submit:hover{
    cursor: pointer;
  }
  

 
  
  [class^='uacf7-form-'] .wpcf7-not-valid-tip {
      position: absolute;
      top: 35px;
  
  }
  
  
  /*Checkbox Styles*/
  [class^='uacf7-form-'] .TFCheckbox{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .15px;
    line-height: 24px;
  }


  [class^='uacf7-form-'] .wpcf7-list-item {
    display: flex;
    align-items: center;
    width: 360px;
    height: 56px;
    padding: 8px, 24px, 8px, 16px;
    column-gap: 16px;
  }


  [class^='uacf7-form-'] input[type="checkbox" i]{
    width: 24px;
    height: 24px;
  }

  [class^='uacf7-form-'] input[type="checkbox"]{
    background-color: #6747c1!important;
  }


  [class^='uacf7-form-'] .wpcf7-list-item-label{
    width: 280px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
 
  }
  
  
  
  
  
  
  
  
  
  /* Date Field Styles */
  
  [class^='uacf7-form-'] input[type=date]::-webkit-datetime-edit-month-field{
    left: 20px;
    
  }

  
  
  /* [class^='uacf7-form-'] input[type="date"]::-webkit-inner-spin-button,
  [class^='uacf7-form-'] input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #000; 
    color: #fff; 
  
  } */