#captcha {
  background-color: #C0C0C0;
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 5px 1px 5px #eeeaea;
  opacity: .5;
  text-align: center;

}
#refresh {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}