#captcha {
  user-select: none;
  background-color: #C0C0C0;
  width: 200px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 4px;
  text-align: center;

  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;

}

#captcha_input_holder{
  display: inline-block;
}
#userInput, #rtn{
  margin: 5px 0px;
}